In [1]:
li=[1,2,3,4,5]
print(len(li)) #length will return to the length of the value

5

In [2]:
li[2]=1954 #update the list of the value
print(li)

[1, 2, 1954, 4, 5]

In [3]:
del li[3] #delete the specific index value

In [4]:
print(li)

[1, 2, 1954, 5]

In [10]:
print(li[-1]) # to access the last item of the list
print(li[-2])
print(li[1:3])
print(li[-1:-2])
print(li[-2:-1])
print(li[-3:-2])

5
1954
[2, 1954]
[]
[1954]
[2]

In [11]:
# Methods of the list
print(sum(li)) # sum of the list
print(max(li)) # maximum value of the list
print(min(li)) # minimum value of the list
print(sum(li)//len(li)) # average

1962
1954
1
490

In [12]:
li

[1, 2, 1954, 5]

In [13]:
li1=[1,2,3,4,5,6]
print(li1,end ='')

[1, 2, 3, 4, 5, 6]

In [14]:
# list methods
li.append(200) #append will insert the new item at any specific position
li

[1, 2, 1954, 5, 200]

In [15]:
li.insert(3,59) #inserts the new item at any specific position
li

[1, 2, 1954, 59, 5, 200]

In [17]:
li.append(100)
li

[1, 2, 1954, 59, 5, 200, 100]

In [18]:
li.insert(4,100)
li

[1, 2, 1954, 59, 100, 5, 200, 100]

In [19]:
li.count(100) # counts the no of times the item is repeated in the list

2

In [20]:
li.count(1)

1

In [21]:
li.count(0)

0

In [22]:
li.index(100) #index() gives the index of specified value

4

In [23]:
li.sort() #sorts the entire in ascending order
li

[1, 2, 5, 59, 100, 100, 200, 1954]

In [26]:
li.sort()
print(li)
li.pop() # pop() removes the item of last index
print(li)
li.pop(2) #pop(index) removes the item of specified index
li

[1, 2, 100, 100]
[1, 2, 100]

[1, 2]

In [27]:
# define the second largest number in  the list
# li=[1,69,16,25,2,3,65]
# output=25
def secondlarge(li):
    li.sort()
    return li[-2]
li=[1,69,16,25,2,3,65]
secondlarge(li)

65

In [28]:
def genericlarge(li,n):
    li.sort()
    return li[-n]
genericlarge(li,3)

25

In [29]:
def genericleast(li,n):
    li.sort()
    return li[n]
genericleast(li,4)

25

# number to list conversion
- [19563212] = [1,9,5,6,,3,2,1,2]

In [30]:
def numbertolist(n):
    li=[] #empty list
    while n!= 0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
numbertolist(19563212)

[1, 9, 5, 6, 3, 2, 1, 2]

# Data structures - Tuples
- it is similar to list object
- list will be enclosed in square brackets[] and touples will be enclosed in paranthesis ()
- list can be increased/decreased and tuple is fixed so that you cant increase or decrease the tuple
- it means list is mutable and tuple is unmutable
- list will be used for read and write where as tuple is used for only reading

In [35]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [32]:
t1[0:4]

(1, 2, 3, 4)

In [36]:
t1[2]

3

# Data structures - dictionaries
- this data structure object work on set of keys and values 
- unique key sets will be defined
- every key is seperated from its value by colon(:)
- every key and value will be seperated by comma(,)
- this will be enclosed by curly brackets{}

In [2]:
d1={"name":"Deepika","email":"gdeepika2913@gmail.com","phonenumber":"9182102729"}
print(d1)

{'name': 'Deepika', 'email': 'gdeepika2913@gmail.com', 'phonenumber': '9182102729'}

In [5]:
print(d1["email"])
print(d1["phonenumber"])
d1["phonenumber"]=9701900836 #to modify the info

gdeepika2913@gmail.com
9701900836

# contact application
--used concepts:dict,list and tuples

# modules of contact application
- add contact
- search contact
- import the contact
- update the contact
- delete the contact

In [8]:
contacts={} #empty dict object
#define the contacts for add contacts
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact added")
    else:
        print("contact is not added")
    return
addcontacts('sindhu',7901418067) #contact added
addcontacts('vidya',9000318534) #contact added
addcontacts('sindhu',7901418067) #contact not added

contact added
contact added
contact is not added

In [9]:
contacts

{'sindhu': 7901418067, 'vidya': 9000318534}

In [10]:
# Define function for search contact
def searchcontact(name):
    if name in contacts:
        print(name," : ",contacts[name])
    else:
        print('contact is not present')
    return
searchcontact('sindhu')
searchcontact('vidya')
searchcontact('deepika')

sindhu  :  7901418067
vidya  :  9000318534
contact is not present

In [13]:
#Define the function for import the new contacts
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print('new contact is added')
    return
newcontacts={"deepika":9182102729,"daddy":9849698141}
importcontacts(newcontacts)

new contact is added

In [14]:
contacts

{'sindhu': 7901418067,
 'vidya': 9000318534,
 'deepika': 9182102729,
 'daddy': 9849698141}

In [19]:
#define a function for update details
def updatedetails(name,phone):
    if name in contacts:
        contacts[name]=phone
        print('contact update is successful')
    else:
        print('please add new contact details')
    return
updatedetails('deepika',182102729) #update is successful
updatedetails('mummy',9701900836) #please add new contact

contact update is successful
please add new contact details

In [20]:
#deleting a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print('contact is deleted')
    else:
        print('contact is not present')
    return
deletecontact('vidya') #contact is deleted
deletecontact('bro') #contact is not present

contact is not present
contact is not present

In [21]:
contacts

{'sindhu': 7901418067, 'deepika': 182102729, 'daddy': 9849698141}

# String to list conversion
- "1 2 3 4 5 6"-[1,2,3,4,5,6]

In [22]:
a=input('enter the numbers')
print(type(a))
print(a)

enter the numbers1 2 3 4 5 6
<class 'str'>
1 2 3 4 5 6

In [23]:
s="application test working"
print(s)

application test working

In [25]:
s="application test working"
li=s.split()
print(li)

['application', 'test', 'working']

In [26]:
s1="gitam hyderabad python programming"
li1=s1.split('a')
print(li1)

['git', 'm hyder', 'b', 'd python progr', 'mming']

In [29]:
# define a function to convert the string to list
def stringtolist(s):
    li=s.split() #divide the string by white space
    numberlist=[]
    for i in li:
        numberlist.append(int(i))
    return numberlist
stringtolist('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]